<div class="my-component">
    This component is defined in the <strong>RCL7</strong> library.
    <img class="spinner" src="img/clock.svg" width="64" alt="Loading..." />
</div>

@*<style>
    .my-component {
        border: 2px dashed red;
        padding: 1em;
        margin: 1em 0;
        background-image: url('background.png');
    }
</style>*@