@page "/"

<h1>Hello, world!</h1>
<RCL7.Component1 />
Welcome to your new app.

<img class="spinner" src="_content/RCL7/img/clock.svg" width="64" alt="Loading..." />

<SurveyPrompt Title="How is Blazor working for you?" />
